body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
  }
  
  h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  textarea {
    resize: vertical;
    height: 100px;
  }
  
  .upload-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .upload-btn:hover {
    background-color: #45a049;
  }
  
  .upload-btn-container {
    text-align: center;
    margin-top: 20px;
  }
  
  #image-upload {
    display: none;
  }
  
  #selected-file {
    font-size: 14px;
  }
  
  input[type="submit"] {
    background-color: #008CBA;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  input[type="submit"]:hover {
    background-color: #0073a8;
  }
  