/* style.css */

html{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}   
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    height: 100vh;
}
/* login.css */
.login-container {
    position: relative;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 45px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid #45f3ff;
}

.login-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(69, 243, 255, 0.2), transparent);
    z-index: -1;
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
.login-container form input[type="submit"]:active
/* .login-container form .links input:nth-child(2) */

{ opacity: 0.8; 


    }

.login-container input[type="text"],
.login-container input[type="password"] {
  text-align: center;
}


.login-container label {
  margin-bottom: 5px;
}

.login-title {
    text-align: center;
    color: #000102;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.login-form {
    text-align: center;
}

.form-group {
    margin-bottom: 30px;
}

label {
    display: block;
    font-weight: bold;
    color: #555;
    font-size: 16px;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 0 12px;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

#email {
    background: transparent;
    overflow: hidden;
    transition: 0.5s;
    border: none;
    border-bottom: 2px solid white;
}

#password {
    background: transparent;
    overflow: hidden;
    transition: 0.5s;
    border: none;
    border-bottom: 2px solid white;
}

h2 {

    text-align: center;
    color: white;
    font-weight: bold;

}

.login-button , 
.login-button  a {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none !important;
    width: 0;
    flex-grow: 1;
}
.enter {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    text-decoration: none !important;
    width: 0;
    flex-grow: 1;
}
.goToForgatePassword {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    padding: 15px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    text-decoration: none !important;
}

.login-button:hover {
    background-color: #3498db;
}

.abc{
    display: flex;
    flex-direction:column ;
    gap: 20px;
    width: 100%;
}


.abcc{
    width: 100%;
    display: flex;
    gap: 20px;
}