{% extends "base.html" %}
{% load static %}
{% block admin_partition %}
{% if user.is_authenticated %}


<!DOCTYPE html> 
<html>
<head>
    <title>Product List</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    {%include "menu.html" %}
    <div>
        <div id="product-container"></div>
        <button class="update-button" data-item-id="{{ item.id }}">Güncelle</button>
    
    </div>   
    <script src="{% static 'js/admin_product.js' %}"></script>
            
</body>
</html>

{% endif %}
{% endblock admin_partition %}