<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Giriş Yap</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/login.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>
<body>
    <div class= "login-container">
       
        <form method="post" action="/api/login/">
            <h2>GİRİŞ</h2>
        {% csrf_token %}
        <label for="email" style="color: white;">E-posta</label>
        <input type="text" id="email" name="email" placeholder="E-Mail Girin" required><br><br>
        <label for="password" style="color: white;">Şifre:</label>
        <link rel="stylesheet" href="style.css">
        <input type="password" id="password" name="password" placeholder="Şifre Girin" required><br><br>
        <div class = abc>
            <div class = abcc>
                <button type="submit" style="font-weight: bold; font-size: 16px;"  onclick ="redirect()" class = "enter" >Giriş Yap</button>
                <button type="button" class="login-button">
                    <a href="/register" style="font-weight: bold; font-size: 16px;">
                    Kayıt Ol
                </a>
                </button>
            </div>
        
        <button type="button" onclick="goToForgatePassword()" class = "goToForgatePassword" style="font-weight: bold; font-size: 16px;">Şifremi Unuttum</button>
    </div>
    </form>
</div>
</body>
</html>