<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Giriş Yap</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/login.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>
<body>
    <div class= login-container>
        <h2>Giriş</h2>
        <form method="post" action="/api/login/">
        {% csrf_token %}
        <label for="email">E-posta</label>
        <input type="text" id="email" name="email" required><br><br>
        <label for="password">Şifre:</label>
        <input type="password" id="password" name="password" required><br><br>
        <div class = abc>
            <div class = abcc>
        <button type="submit"  onclick ="redirect()" class = "enter" >Giriş Yap</button>
        <button type="button" class="login-button">
            <a href="/register">
            Kayıt Ol
        </a>
        </button>
    </div>
        <button type="button" onclick="goToHomePage()" class = "goTohome">Ana Sayfa'ya Git</button>
    </div>
    </form>
</div>
</body>
</html>