<!DOCTYPE html>
{% load static %}
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/menu.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">

</head>
<body>
<div class="navbar">
  
  <div class="logo">
    <h2>Kaan</h2>
	</div>
	
  {% if user.is_authenticated %}
    
    <ul class="links">
      <li><a href="/">Home</a></li>
      <li><a href="{% url 'products' %}">Products</a></li>
      <li><a href="{% url 'bag' %}">Bag</a></li>
      <li><a href="{% url 'add' %}">Add Product</a></li>
      
      
      {% if user.is_superuser %}
      <li><a href="{% url 'update' %}">Permission User</a></li>
      {% endif %}
      
      {% if user.is_admin or user.is_superuser %}
      <li><a href="{% url 'products-admin' %}">Permission Products</a></li>
      {% endif %}
    </ul>
    
    <div class="right">
      <a href="#">
        <button>Hesabım</button>
      </a>
      <a href="{% url 'logout' %}">
        <button>Çıkışyap</button>
      </a>
    </div>
    {% else %}
    <ul class="links">
      <li><a href="/">Home</a></li>
      <li><a href="{% url 'products' %}">Products</a></li>

    </ul>
    <div class="right">
      <a href="login">
        <button>Login</button>
      </a>
    </div>
  {% endif %}

	<div class="toggle">
		<div class="line1"></div>
		<div class="line2"></div>
		<div class="line3"></div>
	</div>
	
	
</div>

</body>
</html>