<!DOCTYPE html>
{% load static %}
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/menu.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">

</head>
<body>
<div class="navbar">
  
  <div class="logo">
    <h2>Kaan</h2>
	</div>
	
  {% if user.is_authenticated %}
    
    <ul class="links">
      <a href="{% url 'home-page' %}"><li>home</li></a>
      <a href="{% url 'products' %}"><li>Products</li></a>
      <a href="{% url 'bag' %}"><li>bag</li></a>
      <a href="{% url 'add' %}"><li>Add Products</li></a>
      
      
      {% if user.is_superuser %}
        <a href="{% url 'update' %}"><li>Permission User</li></a>
      {% endif %}
      
      {% if user.is_admin or user.is_superuser %}
      <a href="{% url 'products-admin' %}"><li>Permission Products</li></a>
      {% endif %}
    </ul>
    
    <div class="right">
      
      <a class = "logout" href="{% url 'logout' %}">
        <button>Çıkışyap</button>
      </a>
    </div>
    {% else %}
    <ul class="links">
      <a href="{% url 'home-page' %}"><li>home</li></a>
      <a href="{% url 'products' %}"><li>Products</li></a>

    </ul>
    <div class="right">
      <a href="login">
        <button>Login</button>
      </a>
    </div>
  {% endif %}

	<div class="toggle">
		<div class="line1"></div>
		<div class="line2"></div>
		<div class="line3"></div>
	</div>
	
	
</div>

</body>
</html>