{% extends "base.html" %}
{% load static %}

{% block partition_user %}
{% include 'menu.html' %}

<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
    <link rel="stylesheet" href="{% static 'css/products_list.css' %}">
    <script src="{% static 'js/products_list.js' %}"></script>
</head>
<body>

    <div class="container">
        <div class="row">
            {% for item in prodPermission %}
            <div class="col-md-4">
                <div class="product-card">
                    <img src="{{ item.image.url }}" alt="Product Image">
                    <div class="details">
                        <h5>{{ item.title }}</h5>
                        <p>{{ item.description }}</p>
                        <p>Price: {{ item.price }} TL</p>
                        <button onclick="saveData({{ item.id }})">Sepete Ekle</button>
                        <select id="quantitySelect{{ item.id }}">
                            {% for quantity in "123456789" %} 
                            <option value="{{ quantity }}">{{ quantity }} Adet</option>
                             {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
</body>
</html>

{% endblock partition_user %}
