<!DOCTYPE html>
{%load static%}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <title>Kayıt Ol</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <div class="register-container">

    <form method="post" action="/api/register/">
        {% csrf_token %}
        <h2>Kayıt Ol</h2>
        <label for="username" style="color: white;">Kullanıcı Adı:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="email" style="color: white;">E-posta:</label>
        <input type="email" id="email" name="email" required><br><br>
        <label for="password" style="color: white;">Şifre:</label>
        <input type="password" id="password" name="password" required><br><br>
        <button class = "register_button" type="submit" onclick ="redirect()">Kayıt Ol</button>
    </form>

</div>
    
    <script src="{% static 'js/register.js' %}"></script>
</body>
</html>