<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Token Example</title>
    <link rel="stylesheet" href="{% static 'css/sendEmail.css' %}">
    <script src="{% static 'js/sendEmail.js' %}"></script>

</head>
<body>
    <div class= forget-container>
        <h2>Email Gönder</h2>
        <form method="post" action="api/sendEmail/">
        {% csrf_token %}
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required><br><br>
        <button type="submit"  onclick ="redirect()" class = "enter" >Gönder</button>
    </div>
</body>
    </head>